- fork ||= false
- original ||= nil
- options = case
  - when fork then { url: refiddle_forks_path( refiddle), method: :post }
  - when refiddle.new_record then { url: original ? refiddle_forks_path( original ) : refiddles_path, method: :post }
  - else { url: refiddle_path(refiddle), method: :put }
- content_for :content do
  = form_for refiddle, options.merge( html: { id: "refiddle-form", class: "flavor-#{refiddle.flavor_name.parameterize}" } ) do |f|
    = f.honey_pot

    #main-content
      = render "error_list", model: refiddle
      = render "error_list", model: refiddle.pattern
      .form-group
        = f.text_field :regex, class: "form-control"
      #text.panel-group        
        .panel.panel-default><
          .panel-heading
            .pull-right
              .match-results
                .label.label-default.total 
                  %span.count
                  Matches
                .label.label-success.pass
                  %span.count
                  Passing
                .label.label-danger.fail
                  %span.count
                  Failing
            = link_to "Corpus", "#corpus", data: { toggle: "collapse", parent: "#text" }

          #corpus.panel-collapse.collapse.in
            .panel-body
              = icon :refresh, :spin
              = f.text_area :corpus_text, class: "form-control", rows: 6

        .panel.panel-default><
          .panel-heading
            = link_to "Replace", "#replace", data: { toggle: "collapse", parent: "#text" }
          #replace.panel-collapse.collapse.in
            .panel-body
              = icon :refresh, :spin
              .form-group
                = f.text_field :replace_text, class: "form-control"
              .form-group
                = text_area_tag :replace_results, nil, class: "form-control", rowS: 6


      = f.submit class: "btn btn-primary hide"



    #main-asside
      = render "pre_asside"
      = render "refiddles/asside", refiddle: refiddle, f: f


- content_for :page_actions do
  .btn-group.navbar-left
    = link_to "#play", class: "btn btn-default navbar-btn play" do
      .visible-sm.visible-xs= icon :play, :fw
      .hidden-sm.hidden-xs 
        = icon :play, :fw
        Play
    = link_to "#save", class: "btn btn-default navbar-btn save" do
      .visible-sm.visible-xs= icon :save, :fw
      .hidden-sm.hidden-xs
        = icon :save, :fw
        Save
    - unless refiddle.new_record?
      = link_to refiddle_path( refiddle, fork: true ), class: "btn btn-default navbar-btn" do
        .visible-sm.visible-xs= icon :level_up, :fw
        .hidden-sm.hidden-xs
          = icon :level_up, :fw
          Fork
  - unless refiddle.new_record?
    .input-group.navbar-left.navbar-btn.share-group
      .input-group-addon
        = icon :share_square_o, :fw
      %input.form-control.share-code{ type: "text", value: short_url(refiddle.short_code)}
- content_for :scripts do
  :coffee
    new App.Views.Refiddle( el: document )