- fork ||= false
- options = case
  - when fork then { url: refiddle_forks_path(refiddle), method: :post }
  - when refiddle.new_record then { url: refiddles_path, method: :post }
  - else { url: refiddle_path(refiddle), method: :put }
- content_for :content do
  = form_for refiddle, options do |f|
    = f.honey_pot

    #main-content
      = render "error_list", model: refiddle
      .form-group
        = f.text_field :regex, class: "form-control"
      .form-group
        = f.text_area :corpus_text, class: "form-control", rows: 6
      .form-group
        = f.text_field :replace_text, class: "form-control"
      = f.submit class: "hide"



    #main-asside
      = render "pre_asside"
      = render "refiddles/asside", refiddle: refiddle, f: f


- content_for :page_actions do
  .btn-group.navbar-left
    = link_to "#play", class: "btn btn-default navbar-btn" do
      .visible-sm.visible-xs= icon :play, :fw
      .hidden-sm.hidden-xs 
        = icon :play, :fw
        Play
    = link_to "#save", class: "btn btn-default navbar-btn save" do
      .visible-sm.visible-xs= icon :save, :fw
      .hidden-sm.hidden-xs
        = icon :save, :fw
        Save
    - unless refiddle.new_record?
      = link_to refiddle_path( refiddle, fork: true ), class: "btn btn-default navbar-btn" do
        .visible-sm.visible-xs= icon :level_up, :fw
        .hidden-sm.hidden-xs
          = icon :level_up, :fw
          Fork
  - unless refiddle.new_record?
    .input-group.navbar-left.navbar-btn.share-group
      %input.form-control.share-code{ type: "text", value: short_url(refiddle.short_code)}
      .input-group-btn
        = link_to "#share", class: "btn btn-default" do
          .visible-sm.visible-xs= icon :share, :fw
          .hidden-sm.hidden-xs
            = icon :share, :fw
            Share
