- content_for :content do
  = form_for @refiddle, url: @fork ? refiddle_forks_path(@refiddle) : refiddle_path(@refiddle), method: @fork ? :post : :put do |f|

    #main-content
      = f.text_field :regex
      = f.text_area :corpus_text
      = f.text_field :replace_text
      = f.submit



    #main-asside
      #options.panel-group
        .panel.panel-default
          .panel-heading= link_to "Regex Options", "#regex-options", data: { toggle: "collapse", parent: "#options" }
          #regex-options.panel-collapse.collapse.in
            .panel-body
              = f.text_field :tags

        .panel.panel-default
          .panel-heading= link_to "History", "#history", data: { toggle: "collapse", parent: "#options" }
          #history.panel-collapse.collapse.in
            .panel-body
              .data-label Created
              .data-value= relative_timestamp @refiddle.created_at
              - if @refiddle.forked_from
                .data-label Forked From
                .data-value= link_to @refiddle.forked_from.display_name, @refiddle.forked_from
              .data-label Revisions
              .data-value= link_to @refiddle.revisions.count, refiddle_revisions_path(@refiddle)
              %hr
              = link_to "Fork", refiddle_path(@refiddle,fork:true)


