.checkbox
  %label
    %small /g
    = check_box_tag :g
    Match all occurences

.checkbox
  %label
    %small /i
    = check_box_tag :i
    Ignore case

.checkbox
  %label
    %small /m
    = check_box_tag :m
    <code>^</code> and <code>$</code> match each line

.checkbox
  %label
    %small /s
    = check_box_tag :s
    <code>.</code> matches new lines

.checkbox
  %label
    %small /x
    = check_box_tag :x
    Ignore pattern whitespace

.checkbox
  %label
    %small /n
    = check_box_tag :n
    Require named captures

.checkbox
  %label
    %small /c
    = check_box_tag :c
    Compiled

.checkbox
  %label
    %small /a
    = check_box_tag :a
    ECMA Script compliant

.checkbox
  %label
    %small /u
    = check_box_tag :u
    Culture invariant

