= link_to root_path, id: "brand" do
  Refiddle

.btn-group.btn-table
  = link_to "New", root_path, class: "btn btn-default"
  = link_to "Browse", tagged_index_path, class: "btn btn-default"
  = link_to "Search", search_index_path, class: "btn btn-default"

Do you know <b>PHP, Perl, Python or Java</b>? View the docs to see
how #{ link_to "you can help out", "https://github.com/phallguy/refiddle-com/wiki/Regex-Runners", target: :_blank }



.asside-ad
  = link_to "https://www.digitalocean.com/?refcode=3fd7f239e3bd", target: :_blank do
    = image_tag "digitalocean.png"